stream {
	upstream daemon {
		server deluge-daemon:58846;
	}

	upstream web {
		server deluge-web:80;
	}

	server {
	  	listen 80
	   	proxy_pass web;
	}

	server {
		listen 58846;
		proxy_pass daemon;
	}
}
